.image_label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.image_input{
    padding: 15px 0px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.image_preview {
    text-align: center;
    padding: 20px 0;
}

.image_preview img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.input_textarea{
    height: 150px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    outline: none
}